/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}

h1, h2{
  border-bottom: solid;
  border-color: #FFFFFF;
}

h2{
  padding-left:5px;
  display:inline;
}

body{
  background-color: #808080;
  color: #FFFFFF;
}

i{
  padding: 0 5px 5px 10px;
}

ul{
  list-style-type: none;
}

br {
  display: block;
  content: "";
  margin: 10px 0;
}

.first-line{
  text-indent: -1em;
}

.column {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.complete-list{
  background-color: #9a9797;
}

.uncomplete-list, .complete-list{
  display: flex;
}

.uncomplete-end-date-icon{
  padding-left: 40px;
}

.second-line{
  border-bottom: solid;
  border-color: #FFFFFF;
}

.fa-trash-can{
  float: right;
  padding: 4px 0 0 0;
}

.add-task{
  padding: 0 0 0 10px;
}

/* task-detail */
.detail-column{
  display: flex;
  width: 500px;
  border-bottom: solid;
  border-width: thin;
  border-color: #FFFFFF;
}

.detail-name{
  margin-right: auto;
}
